[submodule "fluxions-gte"]
	path = fluxions-gte
	url = https://github.com/microwerx/fluxions-gte
[submodule "hatchetfish"]
	path = hatchetfish
	url = https://github.com/microwerx/hatchetfish
[submodule "starfish"]
	path = starfish
	url = https://github.com/microwerx/starfish
[submodule "fluxions-base"]
	path = fluxions-base
	url = https://github.com/microwerx/fluxions-base
[submodule "damselfish"]
	path = damselfish
	url = https://github.com/microwerx/damselfish
[submodule "fluxions-ssg"]
	path = fluxions-ssg
	url = https://github.com/microwerx/fluxions-ssg
