[submodule "fluxions-gte"]
	path = fluxions-gte
	url = https://github.com/microwerx/fluxions-gte
[submodule "hatchetfish"]
	path = hatchetfish
	url = https://github.com/microwerx/hatchetfish
[submodule "fluxions"]
	path = fluxions
	url = https://github.com/microwerx/fluxions
